{% if heading != blank or subheading != blank or link_text != blank %}

  {%- liquid
    assign button_classes = 'btn--small btn--medium-ns'

    if classes contains 'section-header--large'
      assign button_classes = 'btn--medium'
    endif
  -%}
  <div class="section-header {{ classes }}">
    {%- unless heading == blank -%}
      <h2 class="section-header__heading ff-heading fs-heading-2-base fs-heading-1-base-ns">
        {{ heading | newline_to_br }}
      </h2>
    {%- endunless -%}

    {%- unless subheading == blank -%}
      <div class="section-header__subheading rte ff-body fs-body-base fs-body-large-ns">
        {{ subheading }}
      </div>
    {%- endunless -%}

    {%- if url != blank and link_text != blank -%}
      <a href="{{ url }}" class="section-header__button btn btn--primary {{ button_classes }}">
        {{ link_text }}
      </a>
    {%- endif -%}
  </div>
{% endif %}