{% liquid
  if customer.metafields.fields.status.value != blank
    if customer.orders_count >= 2
      assign status = 'VIP'
      assign description = 'account.status.vip_1_html' | t: amount: customer.orders_count
      assign neededProducts = 5
    elsif customer.orders_count >= 5
      assign status = 'VIP 2'
      assign description = 'account.status.vip_2_html' | t: amount: customer.orders_count
      assign neededProducts = 10
    else
      assign status = 'Basic'
      assign description = 'account.status.basic_html' | t: amount: customer.orders_count
      assign neededProducts = 0
    endif
  endif

  assign productCount = 0;
  for order in customer.orders
    for product in order.line_items
      assign productCount = productCount | plus: 1
    endfor
  endfor

  assign savedPlasticCount = productCount | times: 2

  if neededProducts == 0
    assign missingAmount = 5
  else
    assign missingAmount = neededProducts | minus: productCount
  endif
%}

<section class="custom-account account page {{ missingAmount }}">
  <div class="account__container page__inner">
    <a class="account__logout btn btn--text-link ta-r" href="{{ routes.account_logout_url }}">{{ 'account.log_out' | t }}</a>
    <header class="account__header page__header ta-c">
      <div class="account__subheading fs-body-base fs-body-large-ns">
        {%- if customer.first_name != blank -%}
        <div class="account__info">
          <h1>{{ 'account.welcome' | t: name: customer.first_name }} &#128075;</h1>
          {% if customer.orders_count >= 2 %}
            <span>{{ 'account.status.level.vip' | t }} &#127881;</span>
          {% endif %}
        </div>
        {%- else -%}
          {{ 'account.welcome_nameless' | t }}
        {%- endif -%}
        {% if description != blank %}
          <p class="fs-body-base">
            {{ description }}
              <span>{{ 'account.status.next_level_html' | t: amount: missingAmount }}</span>
          </p>
        {% endif %}
      </div>
    </header>
    
    

    <div class="account__sections ff-body fs-body-base">
      <div class="account__main">
        {% paginate customer.orders by 20 %}
          {% if customer.orders.size != 0 %}
            {% render 'account-last-order' %}
          {% else %}
            <h4 class="account__my-orders-heading">{{ 'account.orders.title' | t }}</h4>
            <div class="account__no-orders">
              <p>{{ 'account.orders.none' | t }}</p>
            </div>
          {% endif %}
          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, type: 'account.orders_paginate', %}
          {%- endif -%}
        {% endpaginate %}
      </div>

      <div class="account__top">
        <h2 class="account__col-heading ff-heading fs-heading-2-base">{{ 'customer.account.details' | t }}</h2>
        <div class="account__address">
          <div>{{ customer.default_address | format_address }}</div>
          <div class="account__cta-wrap">
            {%- if customer.addresses.size > 1 -%}
              <a class="btn btn--text-link" href="{{ routes.account_addresses_url }}">{{ 'account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
            {%- else -%}
              <a class="btn btn--text-link" href="{{ routes.account_addresses_url }}">{{ 'account.add_address' | t }}</a>
            {%- endif -%}
          </div>
          {% if customer.orders_count > 0 %}
            <div class="account__plastic"><span>&#129412; </span>  {{ 'account.status.plastic' | t: amount: savedPlasticCount }}</div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</section>
